<div class="mb-3 text-end">
  <a class="btn btn-success" [routerLink]="['/']">Revenir sur la liste des projets</a>
</div>

<h2>Créer un projet</h2>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="mb-3">
  <div class="mb-3">
    <label class="form-label">Nom</label>
    <input class="form-control" formControlName="nom" required>
    <div *ngIf="projectForm.get('nom')?.invalid && projectForm.get('nom')?.touched" class="text-danger">
      Le nom est requis.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea class="form-control" formControlName="description" required></textarea>
    <div *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched" class="text-danger">
      La description est requise.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Date début</label>
    <input class="form-control" type="date" formControlName="dateDebut" required>
    <div *ngIf="projectForm.get('dateDebut')?.invalid && projectForm.get('dateDebut')?.touched" class="text-danger">
      La date de début est requise.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Date fin</label>
    <input class="form-control" type="date" formControlName="dateFin" required>
    <div *ngIf="projectForm.get('dateFin')?.invalid && projectForm.get('dateFin')?.touched" class="text-danger">
      La date de fin est requise.
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="projectForm.invalid">Créer</button>
</form>
<div *ngIf="message" class="alert alert-info">{{ message }}</div>